VITE_OMADA_BASE_URL=https://euw1-omada-northbound.tplinkcloud.com
VITE_OMADA_ID=caaaa331cf6e876e8fea7403e00e7ff6
VITE_OMADA_SITE_ID=6a4eb57c543849228eba7341
VITE_LOCATION_NAME=UFO Test Location
VITE_OMADA_CLIENT_ID=f39dc9be33dd464cb7fce8a7a5756fd7
VITE_OMADA_CLIENT_SECRET=9719d73c0d4c493997ec55d781ef1d7b
