VITE_OMADA_BASE_URL=https://euw1-omada-northbound.tplinkcloud.com
VITE_OMADA_ID=caaaa331cf6e876e8fea7403e00e7ff6
VITE_OMADA_SITE_ID=6a4eb57c543849228eba7341
VITE_LOCATION_NAME=Location XYZ
VITE_OMADA_CLIENT_ID=
VITE_OMADA_CLIENT_SECRET=
